.form {
  width: 100%;
  height: auto;

  &__input {
    width: 100%;
    height: auto;

    &--error {
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: red;
    }
  }
}
