.popup-container {
  width: 100%;
  @apply bg-custom-white;

  &__modal {
    width: clamp(195px, 91.11959999999999vw, 780px);
    height: clamp(195px, 91.11959999999999vw, 780px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    @apply bg-custom-white;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__icon {
        font-size: clamp(40px, 18.6912vw, 160px);
        @apply text-custom-orange;
      }

      &__heading {
        font-size: clamp(15px, 7.0092vw, 60px);
        @apply text-custom-orange;
      }

      &__paragraph {
        font-size: clamp(9.5px, 4.439159999999999vw, 38px);
        @apply text-custom-black;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .popup-container {
    width: 100%;
    @apply bg-custom-white;

    &__modal {
      width: clamp(350px, 36.456vw, 1400px);
      height: clamp(200px, 20.832vw, 800px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      @apply bg-custom-white;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__icon {
          font-size: clamp(30px, 3.1248vw, 120px);
          @apply text-custom-orange;
        }

        &__heading {
          font-size: clamp(20px, 2.0832vw, 80px);
          @apply text-custom-orange;
        }

        &__paragraph {
          font-size: clamp(10px, 1.0416vw, 40px);
          @apply text-custom-black;
        }
      }
    }
  }
}
