.input {
  width: 100%;
  height: clamp(25px, 11.681999999999999vw, 100px);
  color: hsla(0, 0%, 20%, 0.5);
  font-family: Inter;
  font-size: clamp(10px, 4.6728vw, 40px);
  font-style: normal;
  font-weight: 400;
  line-height: 137.4%;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid hsla(0, 0%, 20%, 0.5);
  padding-left: clamp(8px, 3.73824vw, 32px);
  transition: 0.3s all;
  &:active,
  &:focus {
    border-bottom: 2px solid;
    @apply text-custom-orange;
    @apply border-custom-orange;
  }

  &--error {
    border-bottom: 2px solid hsla(0, 100%, 50%, 0.8);
    color: hsla(0, 100%, 50%, 0.8);
  }
}
