.footer {
  width: 100%;
  height: auto;
  margin: auto;

  &__footer-mob {
    width: 90%;
    width: auto;
    height: auto;

    &__nav {
      width: auto;
      height: auto;

      &__link {
        font-size: clamp(12.5px, 5.840999999999999vw, 50px);
        cursor: pointer;
        @apply text-custom-black;
        transition: 0.3s all;
        &:hover {
          @apply text-custom-orange;
        }
      }

      &__phone-link {
        font-size: 20px;
        @apply text-custom-orange;
      }

      &__icon {
        @apply text-custom-orange;
      }
    }

    &__spark-logo {
      width: clamp(75px, 35.046vw, 300px);
    }
  }

  &__footer-pc {
    width: 86.6%;
    height: auto;
    margin: auto;
    margin-top: clamp(64px, 6.66624vw, 256px) !important;

    &__nav {
      height: auto;
      &__link {
        font-size: 20px;
        cursor: pointer;
        @apply text-custom-black;
        transition: 0.3s all;
        &:hover {
          @apply text-custom-orange;
        }
      }
    }

    &__spark-logo {
      width: clamp(75px, 7.812vw, 300px);
      cursor: pointer;
    }
  }
}
