.feature {
  width: auto;
  height: auto;

  &__number {
    font-family: Rubik;
    font-size: clamp(15px, 7.0092vw, 60px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    @apply text-custom-orange;
  }

  &__text {
    @apply text-custom-black;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: clamp(10px, 4.6728vw, 40px);
  }
}

@media screen and (min-width: 1024px) {
  .feature {
    width: auto;
    height: auto;

    &__number {
      color: var(--orange, #f60);
      font-family: Rubik;
      font-size: clamp(25px, 2.604vw, 100px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    &__text {
      font-family: Rubik;
      font-size: clamp(20px, 2.0832vw, 80px);
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      @apply text-custom-black;
      @apply ml-8;
    }
  }
}
