.service-tab {
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
  &:hover .service-tab__text {
    @apply text-custom-orange;
  }
  &:hover .service-tab__icon {
    @apply text-custom-orange;
  }

  &__icon {
    font-size: clamp(15px, 7.0092vw, 60px);
    position: absolute;
    top: clamp(8px, 3.73824vw, 32px);
    right: clamp(8px, 3.73824vw, 32px);
    color: white;
    transition: 0.3s all;
  }

  &__text {
    width: 60%;
    position: absolute;
    color: #fff;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    bottom: clamp(14px, 6.541919999999999vw, 56px);
    left: clamp(8px, 3.73824vw, 32px);
    transition: 0.3s all;
  }

  &__image {
    width: 100%;
    height: clamp(252.5px, 117.98819999999999vw, 1010px);
  }
}

@media screen and (min-width: 1024px) {
  .service-tab {
    position: relative;
    width: auto;
    height: auto;
    cursor: pointer;
    &:hover .service-tab__text {
      @apply text-custom-orange;
    }
    &:hover .service-tab__icon {
      @apply text-custom-orange;
    }

    &__icon {
      font-size: clamp(16px, 1.66656vw, 64px);
      position: absolute;
      top: clamp(16px, 1.66656vw, 64px);
      right: clamp(16px, 1.66656vw, 64px);
      color: white;
      transition: 0.3s all;
    }

    &__text {
      width: 60%;
      position: absolute;
      color: #fff;
      font-family: Rubik;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      bottom: clamp(16px, 1.66656vw, 64px);
      left: clamp(16px, 1.66656vw, 64px);
      transition: 0.3s all;
    }

    &__image {
      width: 100%;
      height: clamp(252.5px, 26.3004vw, 1010px);
    }
  }
}
