.service-tab {
  position: relative;
  width: 100% !important;
  height: auto;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  cursor: pointer;
  &:hover .service-tab__text {
    @apply text-custom-orange;
  }
  &:hover .service-tab__icon {
    @apply text-custom-orange;
  }

  &__icon {
    font-size: clamp(11.5px, 5.37372vw, 46px);
    @apply text-custom-orange;
    transition: 0.3s all;
  }

  &__text {
    width: 80%;
  }

  &__text,
  &__number {
    text-align: center;
    font-size: clamp(14px, 6.541919999999999vw, 56px);
    @apply font-semibold;
    @apply text-custom-orange;
    @apply pb-4;
    @apply pt-4;
  }

  &__image {
    width: 100%;
    height: clamp(252.5px, 117.98819999999999vw, 1010px);
  }
}

@media screen and (min-width: 1024px) {
  .service-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid;
    transition: 0.3s all;
    @apply border-custom-orange;

    &:hover {
      @apply bg-custom-orange;
    }

    &:hover .service-tab__number {
      @apply text-custom-white;
    }

    &:hover .service-tab__text {
      @apply text-custom-white;
    }
    &:hover .service-tab__icon {
      @apply text-custom-white;
    }

    &__text,
    &__number {
      font-size: clamp(16px, 1.66656vw, 64px);
      @apply font-semibold;
      @apply text-custom-orange;
      @apply pb-4;
      @apply pt-4;
    }

    &__number {
      @apply ml-4;
    }

    &__icon {
      font-size: clamp(16px, 1.66656vw, 64px);
      @apply text-custom-orange;
      @apply mr-4;
      transition: 0.3s all;
    }

    &__image {
      width: 100%;
      height: clamp(252.5px, 26.3004vw, 1010px);
    }
  }
}
