.react-select {
  background: transparent !important;

  &__control {
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid hsla(0, 0%, 20%, 0.5) !important;
  }
  &__placeholder {
    font-family: Inter;
    font-size: clamp(10px, 4.6728vw, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: 137.4%;
    color: hsla(0, 0%, 20%, 0.5);
  }

  &__single-value {
    font-family: Inter;
    font-size: clamp(10px, 4.6728vw, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: 137.4%;
    color: hsla(0, 0%, 20%, 0.5);
  }
  &__menu {
    position: absolute !important;
    z-index: 5 !important;
  }
}
@media screen and (min-width: 1024px) {
  .react-select {
    background: transparent !important;

    &__control {
      background: transparent !important;
      border: none !important;
      border-bottom: 2px solid hsla(0, 0%, 20%, 0.5) !important;
    }
    &__placeholder {
      font-family: Inter;
      font-size: clamp(10px, 1.0416vw, 40px);
      font-style: normal;
      font-weight: 400;
      line-height: 137.4%;
      color: hsla(0, 0%, 20%, 0.5);
    }

    &__single-value {
      font-family: Inter;
      font-size: clamp(10px, 1.0416vw, 40px);
      font-style: normal;
      font-weight: 400;
      line-height: 137.4%;
      color: hsla(0, 0%, 20%, 0.5);
    }
    &__menu {
      position: absolute !important;
      z-index: 5 !important;
    }
  }
}
